@model HomeIndexViewModel
@{	
	ViewBag.Title = "Home Page";
}
<body>
	<header>
		<h1>This is a blog about me!</h1>
	</header>
	<a asp-action="Create">New Post!</a>
	@if (Model != null)
	{
		foreach (var post in Model.Posts)
			{
		<table>
			<tr>
				<td> @post.Id</td>
				<td> @post.TitleOfPost</td>
				<td> @post.DescriptionOfPost</td>
				<td>
					<a asp-action="Details" asp-route-id="@post.Id"> See Post</a>
					<a asp-page="/Posts/Edit" asp-route-id="@post.Id">Edit</a>
				</td>
			</tr>
		</table>
		}
		@section footer{
		<div>
			<p>&copy; Website made by Dawid Gorla 2018."
		</div>
		 }
	}
</body>
</html>