@model HomeIndexViewModel
@{
	ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/css/details.css" />

<header>
	<div class="cardcomments">
		<h1>This is a blog about Fit lifestyle! If u are admin, add the post! If you are a user, add a coment under the post, u don't need to log here!! </h1>
	</div>
</header>
<div class="addpost">
	<a asp-action="Create">New Post!</a>
</div>
@if (Model != null)
{
	foreach (var post in Model.Posts)
	{
		<div class="row">
			<div class="leftcolumn">
				<div class="card">
					<h2>@post.TitleOfPost:</h2>
					<p>@post.Id</p>
					<h2>Description:</h2>
					<p>
						@post.DescriptionOfPost
					</p>
					<p>Tags: @post.Tags</p>
					<div class="seePost">
						<a asp-action="Details" asp-route-id="@post.Id"> See Post</a>
					</div>
					<div class="seePost">
						<a asp-page="/Posts/Edit" asp-route-id="@post.Id">Edit</a>
					</div>
				</div>
			</div>
		</div>
	}
}
<hr>
@section footer{ 
	<div class="footer">
		<h2>&copy; Website made by Dawid Gorla 2018."</h2>}
</div>


	