@model HomeIndexViewModel
@{	
	ViewBag.Title = "Home Page";
}

<body>
	<header>
		<h1>This is a blog about Fit lifestyle! Everyone who is logged can add a post! </h1>
	</header>
	<div class="addpost">
		<a asp-action="Create">New Post!</a>
	</div>
	@if (Model != null)
	{
		foreach (var post in Model.Posts)
		{
			<div class="row">
				<div class="leftcolumn">
					<div class="card">
						<h2>@post.TitleOfPost:</h2>
						<p>@post.Id</p>
						<h2>Description:</h2>
						<p>
							@post.DescriptionOfPost
						</p>
						<div class="seePost">
							<a asp-action="Details" asp-route-id="@post.Id"> See Post</a>
						</div>
						<div class="seePost">
							<a asp-page="/Posts/Edit" asp-route-id="@post.Id">Edit</a>
						</div>
					</div>
				</div>
			</div>
		}
		
			@section footer{
				<div class="footer">
					<p>&copy; Website made by Dawid Gorla 2018."
				</div>
		
		}
	}
</body>